<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ucapan Ulang Tahun</title>
  <link rel="stylesheet" href="static/style.css" />
</head>
<body>
  <div class="container">
    <img id="slideImage" class="pulse" src="static/amplop.gif" alt="Slide" />
    <div id="slideText"></div>
    <div id="buttonContainer"></div>
    <audio id="bgMusic" src="static/music.mp3" preload="auto"></audio>
  </div>

  <script src="static/script.js" defer></script>
</body>
</html>
